.flex-wrapper { 
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
	height: 350px; 
	margin-bottom: 10px;

	 @media (min-width: 990px) {
        display: block;
        
        height: 129px;
        margin-bottom: 221px; 

    }

}
 


.flex-logo-wrapper {
	top: 50px;
	position: relative;
	height: 35px;
	width: 41px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;



    @media (min-width: 990px) {
        display: block;
        top: 0;

    }



}


.square {
    display: flex;
    width: 35px;
    height: 35px;
    border: 1px solid #959595;


    @media (min-width: 990px) {
        position: relative;
        display: table-cell;
        vertical-align: middle;
        top: 92px;
        left: 180px;
        width: 35px;
        height: 35px;
        border: 1px solid #959595;
    }



}
.text {
	
	display: flex;
	align-items: center;
	flex-direction: row-reverse; 
	margin-left: 21px;
    color: #000000;
    font-family: 'Avenir';
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.24px;

    @media (min-width: 990px) {
    margin-left: -1px;
    position: relative;
    text-align: center;
    vertical-align: center;
    display: table;
    right: -21px;
    color: #000000;
    font-family: 'Avenir';
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 2.24px;
}


 	 



	 
}

.rhombus {
	position: absolute;
	right: -0.5px;
	width: 23px; 
	height: 23px;
	border: 2px solid #000000;
	transform: rotate(45deg);

	@media (min-width: 990px) {
		position: absolute;
	top: 99px;
	left: 195px;
	width: 23px; 
	height: 23px;
	border: 2px solid #000000;
	transform: rotate(45deg);
	}


	 

}


.flex-list-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
}
 

 .list-wrapper {







 	margin-top: 90px;
 	


	@media (min-width: 990px) {
	margin-top: 0;
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 425px;

    top: 117px;
    right: 179px;
}

	


} 


.list {

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	padding-left: 0;



     @media (min-width: 490px) {
     width: 425px;
    height: 12px;
    display: flex;
    padding: 0;
    justify-content: space-between; 
    flex-direction: row;
    font-family: Avenir;
    font-size: 15px;
    font-weight: 500;
    text-transform: uppercase; 
    color: #aaaaaa;

     }

    


}

.list li {
	display: flex;
	flex-direction: column;
    justify-content: center;
    text-align: center; 
    padding-top: 15px;




	@media (min-width: 490px) {
    display: flex;
    text-align: center;
    padding-top: 0;
 
    padding-left: 0;
    margin-left: 0;

    &:first-child {
        color: #111111;
    }

    &:last-child {
        padding-right: 0;

    }
    }
}

.list_about {}