.about-wrapper {
	position: relative;
	overflow: hidden;
	padding-top: 65px;
}

.about-wrapper::after {
	position: absolute;
	right: -180px;
	top: 100px;
	content: "";
	width: 612px;
	height: 518px;
	display: block;
	background-image: url("..//img/illustrations/Shape_3.svg");
	background-repeat: no-repeat;
	background-position: right top; 
	z-index: -1;
}


.about-container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

@media (min-width: 1140px) {
	.about-container {
		flex-direction: row;
	justify-content: space-between;
	}

}



.about-cards {
	width: 488px;
	display: flex;
	justify-content: space-between;
	order: 2;
	flex-direction: column;
	padding-left: 40px;
}

@media (min-width: 600px) {
	.about-cards {
		
		flex-direction: row;
		padding-left: 60px;
	}

}

@media (min-width: 1140px) {
	.about-cards {
		order: 1;
		padding-left: 0;
	}

}

.cards-1-column {

}




.cards-2-column {
	padding-top: 0px;
	
}

@media (min-width: 600px) {
	.cards-2-column {
		padding-left: 60px;
		padding-top: 150px;
		
	}

}

@media (min-width: 890px) and (max-width: 1140px) {
	.cards-1-column {
		display: flex;
		
		
	}

	.cards-1-column .card {
		margin-right: 60px;


	}



	.cards-2-column {
		padding-top: 0;
		padding-left: 0;
	}

}


@media (min-width: 1140px) {
	.cards-2-column {
		padding-left: 0px;
		padding-top: 150px;
		
		
	}

}

.about-content {
	

color: #0d3e60;

font-size: 18px;
font-weight: 300;
line-height: 1.6;
order: 1;
margin-bottom: 50px;
}


@media (min-width: 1140px) {
	.about-content {
		font-size: 22px;
		order: 2;
		width: 555px;
		margin-bottom: 0;
	}

}


.about-content p {
	margin-bottom: 36px;
}



.about-toggle-wrapper {
	display: flex;
	margin-bottom: 20px;
	flex-direction: column;
	align-items: center;
	
	
}

@media (min-width: 1140px) {
	.about-toggle-wrapper {
		flex-direction: row;
		margin-bottom: 90px;

		
	}

}


a.about__toggle, .about__toggle {
	
    width: 165px;
    height: 46px;
    border-radius: 20px;
    background-color: #fff9df;
    padding-left: 20px;
    padding-right: 20px;
    line-height: 46px;
    color: #2e435e;
    font-size: 14px;
    font-weight: 400;
    margin-right: 20px;
    cursor: pointer;
    transition: 0.2s ease-in;
    text-decoration: none;
    text-align: center;
    margin-bottom: 20px;
}


@media (min-width: 1140px) {
	a.about__toggle, 
	.about__toggle {
		margin-bottom: 0;

		
	}

}


.title-2 {}




.about__toggle:hover {
	background-color: #ff8e39;
	color: #fff;
}

.title-special {
	color: #eb5238;
	margin-bottom: 30px;
}


@media (min-width: 1140px) {
	.title-special {
		margin-bottom: 65px;

		
	}

}


.about-content__box {
	display: none;
}

.about-content__box:first-child {
	display: block;
} 

