*{
	-webkit-box-sizing: border-box;
	   -moz-box-sizing: border-box;
	     box-sizing: border-box;
}

body {
	min-width: 320px;
	margin: 0;
	padding: 0;
	font-family: 'Poppins', sans-serif;
	position: relative;


}



.container {
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}


@media (min-width: 1140px) {
	.container {
		padding: 0;
		width: 1140px;
	}

}

p {
	margin-top: 0;
	margin-bottom: 15px;
}

.justify-between {
	display: flex;
	justify-content: space-between;
}


.align-center {
	display: flex;
	align-items: center;
}

.title-2 {

color: #0d3e60;
font-size: 30px;
font-weight: 700;
line-height: 1.3px;
margin-bottom: 25px;
margin-top: 0;
}



@media (min-width: 890px) {
	.title-2 {
		line-height: 24px;
		margin-bottom: 35px;

	}
}


.checklist {

font-family: Poppins;
font-size: 16px;
font-weight: 500;
line-height: 36px;
padding: 0;
margin: 0;
padding-top: 15px;
margin-bottom: 60px;
list-style-type: none;

}


.checklist li {
	margin-bottom: 15px;
	position: relative;
	padding-left: 47px;

}

.checklist li:before {
	content: "";
	display: block;
	width: 32px;
	height: 29px;
	left: 0;
	top: 10px;
	position: absolute;
	background-image: url("../img/icons/tickbox.svg");
	background-repeat: no-repeat;
	background-position: center; 
}


.form {}
.input {
	width: 100%;
height: 51px;
border-radius: 19px;
background-color: #fff9df;
background-image: linear-gradient(to top, #fff9df 0%, #fffdf4 100%);
border: none;


color: #2e435e;
font-size: 14px;
font-weight: 700;
line-height: 1;
padding-left: 26px;
padding-right: 26px;
padding-top: 5px;
margin-right: 25px;
margin-bottom: 25px;

}

@media (min-width: 700px) {
	.input {
		margin-bottom: 0;
		width: 293px;
	}
}



::-webkit-input-placeholder {color:#2e435e;}/* Chrome */
::-moz-placeholder          {
	color:#2e435e;
	opacity: 1;
}/* Firefox 19+ */
:-moz-placeholder           {color:#2e435e;
	opacity: 1;
}/* Firefox 18- */
:-ms-input-placeholder      {color:#2e435e;}/* IE 10+ */


.input:focus {
	outline: none;
}
.checkbox {
	display: none;
}




.checkbox-fake {
border-radius: 20px;
display: inline-block;
vertical-align: middle;
margin-right: 10px;
width: 20px;
height: 20px;
box-shadow: 2px 2px 0 rgba(14, 15, 33, 0.07);
border: 1px solid rgba(194, 194, 194, 0.4);
background-color: #ffffff;
position: relative;
}

.checkbox-fake::after {
	content: ""; 
	border-radius: 8px; 
	display: block;
	width: 0px;
	height: 0px;
	background-color: #eb5238;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
	transition: 0.2s;
	transition-timing-function: ease-in;
}	

.checkbox:checked + .checkbox-fake:after {
	width: 11px;
	height: 11px;

}

.checkbox-description {
	
color: #0d3e60;
font-size: 14px;
font-weight: 400;
line-height: 30px;
display: inline-block;
vertical-align: middle;

 
}

.checkbox-description a {
	color: #0d3e60;
	font-weight: 700;
    text-decoration: underline;

}



.submit {

color: #ffffff;
font-size: 14px;
font-weight: 700;
line-height: 30px;
border: none;
cursor: pointer;
margin-right: 27px; 
margin-bottom: 15px;


width: 216px;
height: 52px;
border-radius: 20px;
background-color: #eb5238;
background-image: linear-gradient(to top, #eb6f38 0%, #eb5238 100%);
}



.submit:hover {
	background-image: linear-gradient(to top, #eb5238 0%, #eb6f38 100%);

}

.submint:focus {
	outline: none;

}


@media (min-width: 700px) {
	.submit {
		margin-bottom: 0;

	}
}


.form-label {
	cursor: pointer;
}

.form-notice {

font-size: 14px;
font-weight: 400;
line-height: 24px;
color: #0d3e60;
}

.form-notice a {
	text-decoration: underline;
	font-weight: 700;
	color: #eb5238;
}

.form-group {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin-bottom: 25px;
}


@media (min-width: 700px) {
	.form-group {
		flex-direction: row;
		align-items: center;
	}
}


.scrollToTop-wrapper {
	
	/*transform: translate(-50%, 50%);*/
	display: none;
	width: 81px;
	height: 81px;
	border-radius: 50px;
	background-color: rgba(235, 82, 56, .2);
	cursor: pointer;
	position: fixed;
	right: 15px;
	bottom: 15px;
	transform: rotate(180deg);

}


@media (min-width: 1140px) {
	.scrollToTop-wrapper {
		right: 100px;
	bottom: 100px;
	}
}

.scrollToTop-icon {
	position: absolute;
left: 13px;
top: 13px;
width: 55px;
height: 55px;
background-color: #eb5238;
border-radius: 50px; 
z-index: 2;
background-image: url("../img/icons/arrow-down.svg");
	background-repeat: no-repeat;
	background-position: center; 

}












